* { box-sizing: border-box; }

body {
    font-family: sans-serif;
    font-size: 40px;
    color: yellow;
    background-image: url("assets/black-bricks.jpg");
    background-size: cover; }

.backbone{
    width: 800px;
    margin: 0px auto;
    position: relative;
}

.scene {
    width: 800px;
    height: 800px;
    border: 1px solid #CCC;
    margin: 40px 80px 80px 80px;
    perspective: 1600px;
}

.cube {
    width: 800px;
    height: 800px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-400px);
    transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-400px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-400px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-400px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-400px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-400px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-400px) rotateX(  90deg); }

.cube__face {
    position: absolute;
    width: 800px;
    height: 800px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 80px;
    font-weight: bold;
    color: yellow;
    text-align: center;
}

.cube__face--front  { background-image: url("assets/moto.jpeg"); background-size: contain; }
.cube__face--right  { background-image: url("assets/auto.jpeg"); background-size: contain; }
.cube__face--back   { background-image: url("assets/avion.jpeg"); background-size: contain; }
.cube__face--left   { background-image: url("assets/trailer.jpeg"); background-size: contain; }
.cube__face--top    { background-image: url("assets/sky.jpeg"); background-size: contain; }
.cube__face--bottom { background-image: url("assets/grass.jpeg"); background-size: contain; }

.cube__face--front  { transform: rotateY(  0deg) translateZ(400px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(400px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(400px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(400px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(400px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(400px); }

label { margin-right: 10px; }

.radio-group{
    margin: 0px 100px;
    display: inline;
}

.form{
    font-size: 20px;
}
